<header class="container">
    <picture>
        <source media="(min-width: 1000px)" srcset="../assets/banner-long.svg">
        <source media="(max-width: 1000px)" srcset="../assets/banner-short.svg">
        <img id="logo-img" src="../assets/banner-long.svg" alt="logo">
    </picture>
</header>

<section class="container section1">
    <img id="top-window-image" src="../assets/window.png" alt="">
</section>

<section class=" container section2">
    <div>
        <h1>Velkommen til Oslo skredder & renseri!</h1>
        <p>Med lang erfaring innen skredderi service siden 2010 har vi utfører alt av skredder service for rimelige priser, midt i hjertet av Oslo! Vi utfordrer alle til å besøke oss. Kontakt informasjon finner du nederst på siden.
        </p>
    </div>
</section>

<!-- //////////////////// -->
<section class="container blue-container">
    <div class="in-skew-container" style="margin-top: 20px;">
        <!-- -------------- -->
        <div class="card mx-2 abdi-card">
            <div class="row no-gutters">
                <div class="col-md-5">
                    <img id="abdi-image" src="../assets/abdi.png" alt="abdi sewing">
                </div>
                <div class="col-md-7">
                    <div class="card-body">
                        <p class="abdi-text text-left">
                            Kundene våres er viktige for oss, og vi utfører og leverer derfor solide og sikre garanterte arbeid! Hos oss strever vi for å levere mer enn forventningene til kundene våres, etter som vi ønsker at kundene anbefaler oss, og gjerne vurdere å komme tilbake.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mx-2 muca-card">
            <div class="row no-gutters">
                <div class="col-md-7">
                    <div class="card-body">
                        <p class="muca-text text-right">
                            Kontakt oss , dersom du lurer på noe, via telefon, mail, eller stikk innom butikken våres . Du finner all informasjon om oss nederst på siden. Vi utfører det meste service for alle type klær sying og renseri.
                        </p>
                    </div>
                </div>
                <div class="col-md-5">
                    <img id="muca-image" src="../assets/muca.png" alt="muca">
                </div>
            </div>
        </div>
        <!-- -------------- -->
    </div>
</section>

<section class="container section3">
    <div class="panel-image-container">
        <img id="panel-image" src="../assets/panel.PNG" alt="">
        <h1 style="margin-top: 10px;">Vi har service innen alt av skredderi og rensing.</h1>
        <p>Alle typer klær, Renseri, Båtkalasje, Møbelskinn, Bytting av glidelås, Altreprasjon, Skomaker</p>
        <img id="service-image" src="../assets/service.png" alt="">
    </div>
</section>

<footer class="container footer-container">
    <div class="in-footer-container">
        <div class="card mx-2" style="max-width: 100%;">
            <div class="row no-gutters">
                <div class="col-md-6" style="background: #3D444A">
                    <div class="card-body">
                        <h4>Addresse:</h4>
                        Grønnland T-bane stasjon<br> 0188 Oslo<br> Mail: Osloskredder@gmail.com
                    </div>
                </div>
                <div class="col-md-6" style="background: #3D444A;">
                    <div class="card-body">
                        <h4>Åpningstider:</h4>
                        Mandag - Lørdag <br> 10:00 til 20:00 <br> TLF: +47 46781317
                    </div>
                </div>
            </div>
        </div>
        <div class="map">
            <div class="mapouter">
                <div class="gmap_canvas">
                    <iframe width="100%" height="400" id="gmap_canvas" src="https://maps.google.com/maps?q=Gr%C3%B8nnland%20T-bane%20stasjon%200188%20Oslo&t=&z=17&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div>
            </div>
        </div>
        <!-- //////////// -->
        <ul id="pay-icons-list" style="padding-top: 20px; padding-left: 5px;">
            <li><img class="pay-methods-icons" src="../assets/visa.svg" alt="visa"></li>
            <li><img class="pay-methods-icons" src="../assets/mastercard.svg" alt="mastercard"></li>
            <li><img class="pay-methods-icons" src="../assets/paypal.svg" alt="paypal"></li>
            <li><img class="pay-methods-icons-vipps" src="../assets/vipps.png" alt="vipps"></li>
        </ul>
        <!-- ////////////// -->
    </div>
</footer>

<div class="container">
    <div class="footer-text">
        2019 Oslo Skredder & Renseri © : Powered by Angular. Designed and developed by <a href="mailto:gebi9@hotmail.com">Gebi Beshir</a>, Map: Google.
    </div>
</div>