.container {
    width: 50%;
    margin: 0 auto;
    padding: 0px;
    min-width: 260px;
}

.section2 {
    text-align: center;
    margin-bottom: 75px;
    margin-top: 20px;
}

#top-window-image,
#logo-img {
    width: 100%;
}

#abdi-image {
    width: 100%;
    border-radius: 40px 0% 0% 0%;
}

.abdi-card {
    border-radius: 40px 0% 0% 0%;
}

#muca-image {
    width: 100%;
}

p {
    font-size: 1em;
}

h1,
h2,
h3,
h4 {
    font-size: 1.2em;
}


/* blue container */

.blue-container {
    padding: 5px;
    background: #3E8FFC;
    border-top-left-radius: 40px;
    transform: skewY(-2deg);
    padding-bottom: 50px;
}

.blue-container .in-skew-container {
    transform: skewY(2deg);
}

.card {
    background: #3E8FFC;
    max-width: 100%;
    border-style: none;
    color: white;
}


/* /////////////////// */

.blue-container:before {
    content: " ";
    width: 40px;
    height: 40px;
    background: #3E8FFC;
    position: absolute;
    top: -39px;
    right: 0;
    z-index: -2;
}

.blue-container:after {
    content: " ";
    width: 80px;
    height: 80px;
    background-color: white;
    top: -80px;
    position: absolute;
    right: 0;
    border-radius: 50%;
    z-index: -1;
}


/* end blue container */

.section3 {
    text-align: center;
    margin-bottom: 100px;
    margin-top: -40px;
    padding: 0px;
}

#panel-image {
    width: 100%;
}

#service-image {
    width: 100%;
    /* margin-top: 15px; */
    z-index: -5;
}

.mapouter {
    position: relative;
    text-align: right;
    height: 400px;
    width: 100%;
}

.gmap_canvas {
    overflow: hidden;
    background: none!important;
    height: 400px;
    width: 100%;
}

.pay-methods {
    width: 100%;
}

.footer-container {
    background: #3D444A;
    color: #fff;
    padding: 3em 0;
    border-top-right-radius: 40px;
    transform: skewY(2deg);
    margin-top: 40px;
}

.in-footer-container {
    transform: skewY(-2deg);
    width: 100%;
}


/* /////////////////////////// */

.footer-container:before {
    content: " ";
    width: 40px;
    height: 40px;
    background: #3D444A;
    position: absolute;
    top: -39px;
    left: 0;
    z-index: -2;
}

.footer-container:after {
    content: " ";
    width: 80px;
    height: 80px;
    background-color: white;
    position: absolute;
    z-index: -1;
    top: -80px;
    left: 0;
    border-radius: 50%;
}

.pay-icons-list {
    list-style: none;
}

.pay-methods-icons {
    height: 30px;
    width: 60px;
    display: inline;
    background-color: #fff;
    margin: 5px;
    padding: 0px;
    border-radius: 3px;
}

.pay-methods-icons-vipps {
    height: 30px;
    width: 60px;
}

ul#pay-icons-list li {
    display: inline;
}

.pay-cards-list-group {
    background: #3E8FFC;
}

.footer-text {
    background: black;
    width: 100%;
    padding: 10px;
    padding-top: 60px;
    color: lightgray;
    margin-top: -30px;
    font-size: 14px;
}


/* ////////////////////// */