<div class="container">
    <header>
        <img id="logo-img" src="../assets/banner-long.svg" alt="logo">
    </header>
</div>

<div class="container">
    <section class="section1">
        <img id="top-window-image" src="../assets/window.png" alt="">
    </section>
</div>

<div class="container">
    <section class="section2">
        <h1>Velkommen til Oslo skredder & renseri!</h1>
        <p>Med lang erfaring innen skredderi service siden 2010 har vi utfører alt av skredder service for rimelige priser, midt i hjertet av Oslo! Vi utfordrer alle til å besøke oss. Kontakt informasjon finner du nederst på siden.
        </p>
    </section>
</div>


<!-- //////////////////// -->
<section class="container blue-container">
    <div class="in-skew-container" style="margin-top: 20px;">
        <!-- -------------- -->
        <div class="card mx-2 abdi-card" style="max-width: 100%;">
            <div class="row no-gutters">
                <div class="col-md-5" style="background: #868e96;">
                    <img id="abdi-image" src="../assets/abdi.png" alt="abdi sewing">
                </div>
                <div class="col-md-7">
                    <div class="card-body">
                        <p class="abdi-text text-left ">
                            Kundene våres er viktige for oss, og vi utfører og leverer derfor solide og sikre garanterte arbeid! Hos oss strever vi for å levere mer enn forventningene til kundene våres, etter som vi ønsker at kundene anbefaler oss, og gjerne vurdere å komme tilbake.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mx-2" style="max-width: 100%;">
            <div class="row no-gutters">

                <div class="col-md-7">
                    <div class="card-body">
                        <p class="muca-text text-right">
                            Kontakt oss , dersom du lurer på noe, via telefon, mail, eller stikk innom butikken våres . Du finner all informasjon om oss nederst på siden. Vi utfører det meste service for alle type klær sying og renseri.
                        </p>
                    </div>
                </div>
                <div class="col-md-5" style="background: #868e96;">
                    <img id="muca-image" src="../assets/muca.png" alt="muca">
                </div>
            </div>
        </div>
        <!-- -------------- -->
    </div>
</section>

<section class="container section3">
    <div class="panel-image-container">
        <img id="panel-image" src="../assets/panel.PNG" alt="">
        <h1 style="margin-top: 10px;">Vi har service innen alt av skredderi og rensing.</h1>
        <p>Alle typer klær, Renseri, Båtkalasje, Møbelskinn, Bytting av glidelås, Altreprasjon, Skomaker</p>
        <img id="service-image" src="../assets/service.png" alt="">
    </div>
</section>

<footer class="footer">

</footer>